/*General text*/
h2 {
  color: rgba(138,151,145,1);
}

#suggestions {
  font-size: 50px;
}

.jumbotron {
  background-color: rgba(242, 204, 12, .5);
  margin-top: 50px;
}

/*Preference assessments*/
.assessTemp {
  height: 200px;
  background-image: url(https://openclipart.org/image/2400px/svg_to_png/202373/Raseone-Weather.png);
}

.assessLand {
  margin-top: 50px;
  height: 200px;
  background-image: url(http://tse2.mm.bing.net/th?id=OIP.M873aec80407a3bcc23373d36a82e67fao0&pid=15.1);
}

.assessLodge {
  margin-top: 50px;
  height: 200px;
  background-image: url(http://icons.iconarchive.com/icons/dapino/summer-holiday/256/hotel-icon.png)
}

.assessColor {
  margin-top: 50px;
  height: 100px;
}

.assessDate {
  height: 100px;
  background-image: url(https://openclipart.org/image/2400px/svg_to_png/202373/Raseone-Weather.png)
}

.morePreferences {
  margin-top: 50px;
}

/*Setup for special effects*/

.displaySuggestions {
  display: none;
}

.displayDest {
  display: none;
}

#suggestions .li {
  height: 20px;
}

/*buttons*/
#preferences {
  margin-top: 100px;
  text-align: center;
}
